.session-list-container {
    padding: 0.5rem;
    overflow-y: auto;
    height: calc(100% - 1rem);
}

.session-list-fab {
  background-color: #3185db !important;
  color: white !important;
  position: fixed !important;
  bottom: 2rem;
  right: 2rem;
}
