.session-edit-page-wrapper {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.session-edit-page-container {
    display: flex;
    flex-direction: column;
}

.session-edit-image-preview-container {
    display: flex;
    height: 12rem;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0 0 5px 1px #3d464d inset;
    min-height: min-content;
}

.session-edit-selected-image {
    background-size: cover !important;
    margin: .5rem;
    width: calc(100% - 1rem);
    box-shadow: 0 0 5px 1px #3d464d;
}

.session-edit-header {
    text-align: center;
    margin: .5rem;
    font-size: 3rem;
    font-weight: normal;
    color: #3d464d;
}

.session-edit-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: min-content;
}

.session-edit-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: min-content;
}

.session-edit-subtitle {
    color: #3d464d;
    font-weight: 100;
    font-style: italic;
    align-self: center;
    text-align: center;
}

.session-edit-center-container {
    min-height: min-content;
}

