.session-host-page-wrapper {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.session-host-page-container {
  display: flex;
  flex-direction: column;
}

.session-host-header-wrapper {
  display: flex;
  justify-content: center;
  min-height: min-content;
}

.session-host-header {
  text-align: center;
  margin: .5rem;
  font-size: 3rem;
  font-weight: normal;
  color: #3d464d;
}

.session-host-subtitle {
  display: flex;
  flex: 1;
  justify-content: center;
  color: #3d464d;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

.session-host-button-container {
  display: flex;
  justify-content: space-around;
}

.session-host-image-preview-container {
    display: flex;
    max-height: 12rem;
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0 0 5px 1px #3d464d inset;
    min-height: min-content;
}

.session-host-switch {
    color: #3f51b5 !important;
}
