.question-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.question-image-progress-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 12rem;
}