.image-drag-here-text {
    color: #3d464d;
    font-weight: 100;
    font-style: italic;
    align-self: center;
    text-align: center;
}

.image-drag-here {
    background: #eeeeee;
    outline: dashed 2px #0D47A1;
    text-align: center;
    padding: 1rem 0;
    margin: 1rem 0;
    align-self: center;
    width: 95%;
    cursor: pointer;
}

